<!DOCTYPE html>
<html>
<head>
	<title>doc</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>Welcome to VideoTube</h1>
	<a href="/posts/new">Create a Video Page</a>
	<%= yield %>
</body>
</html>