<!DOCTYPE html>
<html>
<head>
	<title>Youtube</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Welcome to YouTube</h1>

	<form action="/videos/new" method="GET">
			<input type="hidden" name="_method" value="Create a Video">
			<input type="submit" value="Create a Video">
	</form>
	<%= yield %>
</body>
</html>