<h1> New Video </h1>



<form action="/videos" method="POST">


	<label for="title">Title: </label>
	<input type="text" name="title" placeholder="Video Title">

	<label for="body"></label>
	<textarea name="body" placeholder="Video Body"></textarea>

	<input type="submit" value="Save">
</form>	