<h1> New Video </h1>



<form action="/videos" method="POST">


	<label for="title"></label>
	<input type="text" name="title" placeholder="Video Title">
	<br>
	<br>
	<label for="body"></label>
	<textarea name="body" placeholder="Video Body"></textarea>
	<br>
	<br>
	<label for="link"></label>
	<textarea name="link" placeholder="Embedded Video Link"></textarea>
	<br>
	<br>
	<label for="genre"></label>
	<input type="text" name="Genre" placeholder="Video Genre">
	<br>
	<br>

	<input type="submit" value="save">
</form>	



