<h1><%= @page_header %></h1>
	


<h2> Post Title: <%= @videos.title %></h2>
<p> Post Body: <%= @videos.body %></p>

<a href="http://localhost:9292/videos">HOME</a>


<input type="submit" value="Update">